/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*  ---------------Utility Classes----------------- */
.container{
  width: 80vw;
  max-width:960px;
  margin: 40px auto;
}
/*  ---------------Responsive Images----------------- */
img{
  max-width:100%;
}

/*  ---------------Global Styles-----------------  */
body {
background-color:royalblue ;
font-family: "Radley", serif;
margin:0;

}
header.primary{ 
background:#6A0DAD;
color:#FFC300;
text-align:center;
text-shadow: 1px 1px #000000;
 /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}
header.primary h1{
font-size:2.4rem;
color:#ffffff;
margin: 20px 0 0;
}

header.primary a{
  color:##FFB347;
  text-decoration:none;
}
header.primary h2{
font-size:1.5rem;
letter-spacing:.5px;
margin:20px 0 0 0;
}

header.primary nav{}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  max-width:960px;
  margin: 20px auto 10px;
}
header.primary nav li{
  list-style-type:none;
}
header.primary nav a{
  color:#ffffff;
  font-size:.9rem;
  background-color:rgba(0,0,0,.4);
  padding:2.5px 5px;
  border-radius: 15px 5px;
  border: 1.5px solid;
  transition:.4s;
}
header.primary nav a:hover {
  background-color:rgba(0,0,0,.4)
}
#intro h2{
  color:#3B638B;
  border-bottom: 1px dotted #c0c0c0;
}
#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:20px;

}
#content .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6)

}
figure{margin:0}

#content time, figcaption{
  text-transform:uppercase;
  font-size:.6rem;
}
#content a{
  color:#3B638B
}
aside[role="complimentary"]{
background-color: #172635;
color:#ffffff;
padding:40px 0;

}
aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:40px;
}
aside .container a{
  color:#ffffff;
  display:block;
  text-align:right;
  margin-top:20px;
}
aside .container a:last-child{
  display:block;
  text-align:right;
  margin-top:20px;
}
article.widget footer{
  display:none;

}
#colophon{
  background-color:#6A0DAD;
  padding:1px;
  color:#ffffff;
  text-align: center;
  text-shadow:1px 1px #000000 ;
  
  
}

@media screen and (max-width:600px){

header.primary nav ul{
  flex-direction:column;
  gap:10px;
}
header.primary nav a{
  display:block;
}

}