/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*  ---------------Utility Classes----------------- */
.container{
  width: 70vw;
  max-width:880px;
  margin: 35px auto;
}
.img-right{
float:right;
border: 1px solid #00000;
padding:5.5px;
border-radius:5px;
margin: 10px 0 10px 20px;
}
.img-left{
float:left;
border: 1px solid #ccc;
padding:5.5px;
border-radius:5px;
margin: 10px 20px 10px 0;
}
.img-center{
  display:block;
  margin: 10px auto;
  border: 1px solid #ccc;
padding:5.5px;
border-radius:5px;
}

/*  ---------------Responsive Images----------------- */
img{
  max-width:100%;
}

/*  ---------------Global Styles-----------------  */
body {
background-color:rgb(184, 27, 247) ;
font-family: "Radley", serif;
margin:0;

}
header.primary{ 
background:#6A0DAD;
color:#FFC300;
text-align:center;
text-shadow: 1px 1px #c29503;
 /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}
header.primary h1{
font-size:3.1rem;
color:#c29503;
margin: 15px 0 0;
}

header.primary a{
  color:##FFB347;
  text-decoration:none;
}
header.primary h2{
font-size:1.6rem;
letter-spacing:.5px;
margin:5px 0 0 0;
}

header.primary nav{}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  max-width:960px;
  margin: 20px auto 5px;
}
header.primary nav li{
  list-style-type:none;
}
header.primary nav a{
  color:#FFffff;
  font-size:1.2rem;
  background-color:rgba(0,0,0,.4);
  padding:2.5px 5px;
  border-radius:15px;
  border: 1.5px solid;
  transition:.6s;
}
header.primary nav a:hover {
  background-color:rgba(46, 23, 100, 0.4)
}
#intro h2{
  color:#FFC300;
  border-bottom: 1px dotted #d4c7c7;
  text-align: center;
}
#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:15px;

}
#content .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6)
padding:5px;
font-size:.6em;
}
figure{margin:0}

#content time, figcaption{
  text-transform:uppercase;
  font-size:.8rem;
  text-align: right;
  color:#FFC300
}
#content a{
  color:#FFC300;
}
#practice h2{
  color:#FFC300;
border-bottom: 1px dotted #cccccc;
}
#practice a:link, #practice a:visited {
  color:#FFC300;
}

#practice h3{
  border-left:7.5px solid #FFC300;
  padding-left:7.5px;

}
table{
  width:100%;
  border:1px solid #FFC300;
  border-collapse:collapse;
}
caption{
  font-width:bold;
  margin: 5px;
  font-size:1rem;

}
tr:nth-child(even){
  background-color:rgba(0,0,0,.4);

}
td:nth-child(n+2){
  text-align:right;
}
tr:hover{
  background-color:rgba(0,0,0,.4);
}
th{
  background-color:#6A0DAD;
  color:#FFffff
  padding:7.5px;
  
  

}
td{
  border:1px solid #FFC300;
  padding:20px 0;
  
}
#practice ol{list-style-type:upper-roman;
color:darkblue
}
#practice ul{
  color:darkblue
}
#practice ul ul{
  color:blue;
}
#practice ul ul ul{
  color:black;
}
#practice dt{
  font-weight:700;
  color:darkblue;
}
#practice dd{
  margin:0;
  color:deepskyblue;
}
dd +dt{
  margin-top:20px;

}

#practice blockquote {
  border: 4px double #c0c0c0;
  padding:20px 40px;
  margin:40px 80px;
  border-radius:30px 0;
  background-color: #6A0DAD;
  color:#000000;
  text-shadow:.5px .5px #d3a203;
}
#practice blockquote cite{
  display:block;
  font-size:.6rem;
  text-align: right;
  margin-top: 13.5px;
}


aside[role="complimentary"]{
background-color: #172635;
color:#ffffff;
padding:35px 0;

}
aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:45px;
  text-align: center;
}
aside .container a{
  color:#ffffff;
}
aside .container a:last-child{
  display:block;
  text-align:right;
  margin-top:15px;
}
article.widget footer{
  display:none;

}
#colophon{
  background-color:#6A0DAD;
  padding:3.5px;
  color:#000000;
  text-align: center;
  text-shadow:1px 1px #000000 ;
  
  
}

@media screen and (max-width:600px){

header.primary nav ul{
  flex-direction:column;
  gap:10px;
}
header.primary nav a{
  display:block;
}

}